<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
  <body>
<div class="container">
<div class="jumbotron" style="padding:0px; padding-left:30px;background-color:gainsboro">   
<h1>Login page</h1>       
<table class="table table-bordered" style="">
<tr>
<td>
<form class="form-inline" action="#" th:action="@{/user}" th:object="${users}" method="post">
<fieldset> 
	 <p>Username: <input type="text" th:field="*{username}" /></p>
	 <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p> 
</fieldset> 
<fieldset> 
	  
 	  <p>Password: <input type="text" th:field="*{password}" /></p>
 	  <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p> 
</fieldset>
		 <fieldset>   
		  <input type="submit" value="login"/>
		  </fieldset>
	</form>
</td>
</tr>
</table>
</div>
</div>
    
	
  </body>
</html>
