<!DOCTYPE html>

<html xmlns:th="http://thymeleaf.org">

<head>

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<meta charset="ISO-8859-1"  content="width=device-width, initial-scale=1">

<title>Insert title here</title>

</head>

<body>

<div class="container">

<div class="jumbotron" style="padding:0px; padding-left:30px;background-color:gainsboro">          

<table class="table table-bordered" style="">

<tbody th:each="user : ${userdetails}">

      <tr>

      	<td style="border-color:transparent">

        <h5 style="color:darkslategray"> Welcome: <span th:text="${user.empname}"></span>

        ( <span th:text="${user.role_name}"></span> )</h5>

		</td>

		<td style="color:darkslategray;text-align:right;margin-right:10px;vertical-align: inherit;">

		<a href="" data-toggle="modal" data-target="#myModal" style="color:darkslategray">User Details</a>&nbsp;&nbsp;&nbsp; 

		<a href="/logout" style="color:darkslategray;">Logout

		</a>&nbsp;&nbsp;&nbsp;&nbsp;

		</td>

		

      </tr>

</tbody>

  </table>

 </div>  

 <div class="modal fade" id="myModal" th:each="user : ${userdetails}">

    <div class="modal-dialog">

      <div class="modal-content">

      

        <div class="modal-header">

          <h4 class="modal-title">Name: <span th:text="${user.empname}"></span></h4>

          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>



        <div class="modal-body">

          <b>Role Name:</b> <span th:text="${user.role_name}"></span><br/>

          <b>Username:</b> <span th:text="${user.username}"></span>

        </div>

        

        <!-- Modal footer -->

        <div class="modal-footer">

          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

        </div>

        

      </div>

    </div>

  </div>



<table class="table table-bordered">

   <thead>

      <tr>

        <th colspan="6">List of Public Holidays</th>

        <th>

        <form class="form-inline" action="#" th:action="@{/dateadd}" method="get">

          <div class="form-group">

		      <input type="date" class="form-control" name="newdate">

		    </div>

		   <button type="submit" class="btn btn-success">Add Public Holidays</button>

  		</form>

  		</th>

      </tr>

    </thead>

     <tbody>

      <tr>

  			<td >

  			<ul th:each="array : ${arraylist}">

  				<li th:text="${array}">

  				</li>

  			</ul>

  			</td>

      </tr>		

    </tbody>

  </table>

  

 <table class="table table-bordered">

    <thead>

      <tr>

        <th>Employee Name</th>

         <th>No of Applied leave</th>

        <th>Start Date</th>

        <th>End Date</th>

         <th>Sat-Sun</th>

        <th>Reasons</th>

        <th>Public holidays</th>

        <th>leave Type</th>

        <th>Manager's Comment</th>



       

      </tr>

    </thead>

    <tbody th:each="newlist : ${newlist}">

      <tr>

		<td th:text="${newlist.username}"></td>

		<td th:text="${newlist.noOfLeave}"></td>

        <td th:text="${newlist.startDate}"></td>

        <td th:text="${newlist.endDate}"></td>

        <td th:text="${newlist.weekends}"></td>

        <td th:text="${newlist.reason}"></td>

        <td th:text="${newlist.publicholidays}"></td>

        <td th:text="${newlist.leaveType}"></td>

        <td>

        <div th:if="${newlist.managerComment}">

          <div th:text="${newlist.managerComment}"></div>

        </div>

         

         <div th:unless="${newlist.managerComment}">

          <form class="form-inline" action="#" th:action="@{/statusofapplication/__${newlist.leaveid}__}" method="post">

	            <div class="form-group">

			      <input type="text" class="form-control" name="managerComment">

			       <input type="radio" name="radio" value="accepted">Accepted<br>

				   <input type="radio" name="radio" value="rejected">Rejected<br> 

			    </div>

			   <button type="submit" class="btn btn-success">Submit</button>

	  		</form>

         </div>



        </td>

      </tr>

    </tbody>

  </table>

  



 </div>

</body>

</html>